* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
  padding-inline: 2rem;
}

h2 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

h3 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  font-weight: 400;
  letter-spacing: 1px;
}

.intro {
    background-image: url('UX-HTML-CSS/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: xx-large;
    font-weight: 400;
    margin-top: 6rem;
}

.intro .grid-container{
  display:grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 200px 200px;
  justify-items: center;
  align-items: center;
}



.nav {
  display: inline-flex;
  position:fixed;
  top: 0;
  overflow: hidden;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  align-content: stretch;
  width:100%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  padding-inline: 2rem;
  justify-content: space-between;
  background-color: white;
}

.nav ul {
  display: inline-flex;
  list-style: none;
}

.nav li{
  margin-left: 1.5rem;
}

.nav a{
  text-decoration: none;
  color:black;
}


.nav .rnav{
  display: inline-flex;
  align-items: center;
  margin-right: 2rem;
}


.logo{
  font-size: xx-large;
  font-weight: 400;
  display:flex;
  align-items: center;
}
.logo img{
  width: 35px;
}

.search-container{
  display:flex;
  padding-inline: 1rem;
}

.search-container form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
}

.search-container button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

.about{
  margin-inline: 3rem;
}

.about .grid-container{
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 25% 37% 37%;
  grid-gap: 4rem;
  padding-inline: 4rem;
}

.about .grid-item1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about .grid-item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.about .flip{
  transform: scaleX(-1);
  width: 500px;
}

.about .grid-item4{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.about .grid-item4 img{
  width:350px;
}

.about .grid-item5{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.products{
  margin-inline: 3rem;
}
.products .container{
 display:flex;
 position: relative;
 width: 100%;
 padding-inline: 4rem;
 flex-direction: row;
 flex-wrap: wrap;
 column-gap: 8rem;
}

.products .item{
  width: 20rem;
  text-anchor: middle;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.products .item img{
  width: 250px;
  height: 280px;
}

.products button{
  background-color: darkorange;
  color: white;
  border:0;
  padding: 8px 20px;
  font-size: larger;
  font-weight: 600;
  margin-left: 2rem;
}

.products a{
  color: darkorange;
}

.contact .container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
  
}

.contact form{
  width: 75%;
}

.contact label{
  font-size: larger;
  letter-spacing: 1px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid black; 
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.send-container{
  display:flex;
  width:100%;
  justify-content: flex-end;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  display:flex;
  background-color: darkorange;
  color: white;
  border:0;
  padding: 6px 24px;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
}


footer{
  background-color: darkorange;
}  

footer .container{
  display: grid;
  padding-inline: 10rem;
  padding-top: 1rem;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  gap: 10px;
  
}

footer .socialmedia img{
  width:60px;
}

footer .logo img{
  width:70px;
  
}

footer .logo{
  color: black;
  font-weight: 600;
  letter-spacing: 4px;
}

footer a{
  text-decoration: none;
}

footer .tlfoot{
  display:flex;
  align-content: center;
  justify-content: flex-start;
}

footer .tmfoot{
  display: flex;
  align-content: center;
  justify-content: center;
}

footer .trfoot{
  display:flex;
  align-content: center;
  justify-content: flex-end;
}

footer .brfoot{
  text-align: right;
}

footer .img-spacer{
  padding-inline:1rem;
}

footer .copywright{
  display:flex;

}

footer .crinfo{
  text-align:right;
  padding-inline:2rem;
  padding-bottom: 0.5rem;
}